body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #473e93, #aa3e3e);
    background-repeat: repeat;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 02px;
}

.card {
    width: 80px;
    height: 80px;
    background-color: #eee;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}